body {
    background: #F5F7FB;
    overflow: hidden;
}

.front-pg {
    position: absolute;
    margin: 30vh 40%;
    text-align: center;
}

.start-btn {
    background-color: #4D5B9E;
    width: 193px;
    height: 52px;
    border-radius: 10px;
    font-size: 16px;
    color: #F5F7FB;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.title {
    color: #293264;
    font-size: 80px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sm-txt {
    font-family: "Inter", sans-serif;
}

.lg-txt {
    color: #293264;
    font-family: 'Karla', sans-serif;
}

.blue-blob {
    position: absolute;
    left: -45vw;
    bottom: -45vh;
}

.yellow-blob {
    position: absolute;
    right: -50vw;
    top: -40vh;
}

button {
    cursor: pointer;
}

.quiz {
    width: 50%;
    margin: auto;
    margin-top: 2%;
    height: 80vh;
}

.question {
    padding: 14px;
    border-bottom: 1px solid #DBDEF0;
}

.quiz-question {
    font-family: "Karla", sans-serif;
    color: #293264;
    font-size: 23px;
    margin: 12px;
}

.quiz-btn {
    background-color: #F5F7FB;
    border-color: #293264;
    color: #293264;
    border-radius: 12px;
    margin: 10px;
    padding: 5px 10px;
    min-width: 100px;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}

.quiz-btn:focus, .quiz-btn:hover, .quiz-btn:active, .quiz-btn-clicked {
    background-color: #D6DBF5;
    color: #293264;
    border: none;
    border-radius: 12px;
    margin: 10px;
    padding: 5px 10px;
    min-width: 100px;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}

.correct {
    background-color: #94D7A2;
}

.wrong {
    background-color: #F8BCBC;
}

.check-btn {
    background: #4D5B9E;
    border-radius: 10px;
    border: none;
    color: #F5F7FB;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 12px;
    padding: 15px 22px;
    margin: 15px;
    margin-left: 40%;
}

.score {
    text-align: center;
    font-size: 20px;
    margin-bottom: 0;
}