body {
    background: #F5F7FB;
    overflow: hidden;
}

.front-pg {
    position: absolute;
    margin: 30vh 40%;
    text-align: center;
}

.start-btn {
    background-color: #4D5B9E;
    width: 193px;
    height: 52px;
    border-radius: 10px;
    font-size: 16px;
    color: #F5F7FB;
    font-family: "Inter", sans-serif;
    text-decoration: none;
}

.title {
    color: #293264;
    font-size: 80px;
    margin-bottom: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.sm-txt {
    font-family: "Inter", sans-serif;
}

.lg-txt {
    color: #293264;
    font-family: 'Karla', sans-serif;
}

.blue-blob {
    position: absolute;
    left: -45vw;
    bottom: -45vh;
}

.yellow-blob {
    position: absolute;
    right: -50vw;
    top: -40vh;
}

button {
    cursor: pointer;
}

.quiz-question {
    font-family: "Karla", sans-serif;
    color: #293264;
    font-size: large;
}

.quiz-btn {
    background-color: #F5F7FB;
    border-color: #4D5B9E;
    color: #293264;
    border-radius: 12px;
    margin: 10px;
    padding: 5px 10px;
    min-width: 100px;
    font-family: 'Karla', sans-serif;
}

.quiz-btn:focus, .quiz-btn:hover, .quiz-btn:active {
    background-color: #4D5B9E;
    color: #4D5B9E;
}